<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358727241978-4geoamv6t16ct38fk0mcvosbu7agkgj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358727241978-4geoamv6t16ct38fk0mcvosbu7agkgj6</string>
	<key>API_KEY</key>
	<string>AIzaSyB8_hlu-9o8BBf2A0S7EkXszJAaPCnzA1U</string>
	<key>GCM_SENDER_ID</key>
	<string>358727241978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bar.multi.wallet</string>
	<key>PROJECT_ID</key>
	<string>multibar-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>multibar-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358727241978:ios:66dce962f5d3c0d8abf943</string>
</dict>
</plist>